body{
background:#222;
color:white;
font-family:Arial;
text-align:center;
}

.game{
max-width:500px;
margin:auto;
background:#c62828;
padding:20px;
border-radius:20px;
}

img{
width:120px;
image-rendering:pixelated;
}

.hp{
background:#333;
height:15px;
border-radius:10px;
margin:5px;
}

#pokemonHP{
background:lime;
height:100%;
width:100%;
}

#playerHP{
background:cyan;
height:100%;
width:100%;
}

input{
padding:10px;
margin:5px;
}

button{
padding:10px;
margin:5px;
border:none;
border-radius:8px;
background:#1976d2;
color:white;
}

.timer{
font-size:20px;
margin:10px;
}

.ranking{
background:#111;
padding:10px;
border-radius:10px;
margin-top:10px;
}

.battle{
display:flex;
justify-content:space-between;
align-items:center;
}